.podcast__img--overlay {
	.transluscentLine{
		height: 10px;
		border-radius: 15px;
	}
	.podcast__season {
		justify-content: space-between;
		color: $green;
		font-size: 1.6rem;
	}
	.podcast__title {
		font-family: $ptSans;
		font-size: 3.2rem;
		text-transform: uppercase;
		p {
			margin: 16px 0;
		}
	}
	.podcast__date {
		font-size: 1.6rem;
		font-weight: bold;
		font-family: $roboto;
		text-transform: uppercase;
	}
	.podcast__play {
		font-size: 1.4rem;
		color: $green;
	}
	.podcast__information {
		font-family: $roboto;
		font-size: 1.8rem;
		line-height: 2.8rem;
	}
}
